.info__main{

    @include breakpoint-up(large){
        display: flex;
        align-items: center;
    }
  
    &__image{
        position: relative;
        background-image: url("/images/bg-intro-mobile.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; 
        min-height: 23.5rem;

        @include breakpoint-up(large){
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: url("/images/bg-intro-desktop.svg");
            background-position: left center;
        }

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left:50%;
            transform: translateX(-50%);
            background-image: url("/images/image-mockups.png");
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
            top: 20%;
        }
    }

    &__info{
        //padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 2.8rem;
        //text-align: center;

        @include breakpoint-up(large){
            flex: 2;
            order:1;
        }

   

        .info__text{
            font-size: 0.9rem;
           
            @include breakpoint-up(large){
                font-size: $font-medium;
            }
        }
        .hero__cta{
            margin-top:40px;
        }
    }
    }

  