.in__fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@media (min-width: 64em) {
  .info__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info__main__image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.5rem;
}

@media (min-width: 64em) {
  .info__main__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 41rem;
    background-image: url("/images/bg-intro-desktop.svg");
    background-position: left center;
  }
}

.info__main__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("/images/image-mockups.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 92%;
}

.info__main__info {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.8rem;
  text-align: center;
}

@media (min-width: 64em) {
  .info__main__info {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.info__main__info > h1 {
  color: #2d314d;
  margin-top: 20px;
  font-size: 1.85rem;
}

@media (min-width: 64em) {
  .info__main__info > h1 {
    font-size: 2.3rem;
  }
}

.info__main__info > .info__text {
  font-size: 0.70rem;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #9698a6;
  line-height: 1.74em;
}

@media (min-width: 64em) {
  .info__main__info > .info__text {
    font-size: 1.25rem;
  }
}

.info__main__info > .hero__cta {
  margin-top: 40px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  font-weight: 300;
}

body.noscroll {
  overflow: hidden;
}

h1 {
  font-weight: 400;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-spabe {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-cent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 69.375rem;
  margin: 0 auto;
}

button, .button {
  padding: 0.875rem 1.87rem;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  border: 0px;
  font-weight: 700;
}

@media (max-width: 63.937em) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-desktop {
    display: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.header.open .header__menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay__layer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
  z-index: 1;
}

.header nav {
  position: relative;
  background-color: white;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  z-index: 2;
}

.header a, .header a:visited, .header a:hover {
  text-decoration: none;
  color: #9698a6;
  font-size: 0.875rem;
}

.header__logo {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #9698a6;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu__mobile {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  padding: 1.625rem;
  margin-top: 1.5rem;
  border-radius: 4px;
  z-index: 1;
}

.header__menu__mobile a {
  display: block;
  text-align: center;
  color: #2d314d;
  padding: 0.625rem;
  color: #2d314d;
}

.header__links {
  font-weight: 400;
}

.header__links a {
  position: relative;
  color: #9698a6;
  font-weight: 700;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 30px;
}

.header__links a::after {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::after {
  opacity: 1;
}

.header__cta {
  font-weight: 700;
  color: white !important;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__cta:hover {
  opacity: 0.75;
}
/*# sourceMappingURL=style.css.map */